@use "../../styles/abstracts/variables";

.about {
  width: 100%;

  padding: 2rem 1rem;

  color: variables.$color-font;

  font-size: 1.25rem;

  text-align: center;
}

.about p {
  margin-top: 2rem;
}

.about img {
  display: block;

  width: min(70%, 15rem);
  height: auto;

  margin: 4rem auto 0;
}

.aboutHero {
  color: white;
  font-size: 1.75rem;

  margin-bottom: 5rem;
}

.about iframe {
  display: block;

  width: 100%;
  min-height: 20rem;

  margin: 4rem auto 0;

  border: 0;
  border-radius: 12px;
}

/* Tablet */
@media (min-width: 768px) {
  .about {
    padding: 3rem 2rem;
    font-size: 1.5rem;
  }

  .about img {
    width: 16rem;
  }

  .aboutHero {
    font-size: 2rem;
    margin-bottom: 6rem;
  }

  .about iframe {
    width: 90%;
    min-height: 25rem;
  }
}

/* Notebook */
@media (min-width: 1024px) {
  .about {
    font-size: 1.75rem;
  }

  .about img {
    width: 18rem;
  }

  .aboutHero {
    font-size: 2.25rem;
  }

  .about iframe {
    width: 80%;
    min-height: 28rem;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .about {
    font-size: 2rem;
  }

  .about img {
    width: 20rem;
  }

  .aboutHero {
    font-size: 2.5rem;
  }

  .about iframe {
    width: 80%;
    min-height: 32rem;
  }
}