@use "../../styles/abstracts/mixins";
@use "../../styles/abstracts/variables";

.about {
  padding-top: clamp(3rem, 8vw, 8rem);
  text-align: center;

  @include mixins.fluid-font;
}

.aboutTitle,
.aboutDescription {
  color: variables.$color-font-gold;
}

.aboutTitle {
  margin-bottom: 1rem;
}

.aboutLogo {
  width: min(70%, 15rem);
  margin: 2rem auto 0;
}

.aboutHero {
  margin-bottom: clamp(3rem, 10vw, 8rem);
}

.aboutMap {
  display: block;
  width: min(90%, 70rem);

  height: clamp(20rem, 50vw, 40rem);
  margin-inline: auto;

  border: 0;
  border-radius: variables.$radius-medium;
}
