@use "../../styles/abstracts/variables";

.main {
    font-family: variables.$font-secundary;
    color: variables.$color-font-gold;
}

.main p {
    text-align: center;
    font-size: 1.875rem;

    margin-top: 20rem;
}

.main img {
    height: 440px;
    width: 400px;

    border-radius: 12px;
    margin-top: 3rem;
}

.section {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    place-content: center;
    gap: 2rem;

    width: 80%;
    margin: 0 auto;
}