@use "../../styles/abstracts/mixins";
@use "../../styles/abstracts/variables";

.main {
  @include mixins.content-container;

  color: variables.$color-font-gold;
  text-align: center;
}

.mainSection {
  margin-top: clamp(4rem, 8vw, 7rem);
}

.mainTitle {
  margin-bottom: 2rem;

  @include mixins.fluid-font;
}

.mainGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));

  gap: clamp(1rem, 2vw, 2rem);
}

.mainImage {
  width: 100%;
  aspect-ratio: 4 / 3;

  border-radius: variables.$radius-medium;
  object-fit: cover;
}
