@use "../../styles/abstracts/variables";

.main {
  color: variables.$color-font-gold;
  font-family: variables.$font-secondary;

  text-align: center;
}

.mainTitle {
  margin-top: clamp(8rem, 10vw, 12rem);
  font-size: clamp(1.5rem, 2vw, 3.125rem);
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: clamp(1rem, 2vw, 2rem);
  width: 80%;

  margin: 0 auto;
}

.mainImage {
  width: 100%;
  height: 90%;

  object-fit: cover;
  border-radius: 12px;
}