@use "../../styles/abstracts/variables";

.carta {
  width: 100%;
  min-width: 0;

  padding: 2rem 1rem;
  font-family: variables.$font-secundary;

  
}

.cartaCategorias {
  display: flex;
  align-items: center;

  gap: 1rem;
  width: 100%;

  min-width: 0;
  overflow-x: auto;

  overflow-y: hidden;
  padding: 0.5rem;

  scrollbar-width: none;
  cursor: grab;

  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.cartaCategorias.arrastrando {
  cursor: grabbing;
}

.cartaCategoria {
  flex-shrink: 0;
  padding: 0.75rem 1.5rem;

  border: none;
  border-radius: 12px;

  background: black;
  color: white;

  cursor: pointer;
  user-select: none;
}

.cartaCategoria--active {
  background: variables.$color-font-gold;
  color: black;
}

.cartaCategoria:hover {
  box-shadow: 0 0 7px white;
}

.cartaContenido {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
  text-shadow: 4px 4px 1px black;
}

.cartaContenido h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

.cartaContenido p {
  font-size: 1.5rem;
}

.cartaContenido h6 {
    font-size: 1.25rem;
    font-family: variables.$font-primary;

    margin-top: 1rem;
}

.comidas {
    width: 100%;
}

.baseline {
  background-color: variables.$color-font-gold;
  height: 1px;

  width: 70%;
  margin: 1rem auto;
}

.h6 {
  font-size: 2.5rem;
  text-align: center;

  color: variables.$color-font-gold;
  margin-top: 10rem;
  margin-bottom: 10rem;
}