@use "../../styles/abstracts/variables";

.logo {
  display: none;
}

.headerWrapper {
  position: relative;
  min-height: 100svh;
  text-align: center;
}

.background {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.header {
  position: relative;
  text-align: center;
}

.headerTitle,
.headerHero {
  width: 80%;
  margin: 0 auto;

  color: variables.$color-font;
  font-family: variables.$font-secondary;

  text-align: center;
  text-shadow: 2px 2px 2px black;

  font-size: 1.5rem;
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .headerTitle,
  .headerHero {
    font-size: 1.75rem;
  }
}

@media (min-width: 1366px) {
  .headerTitle,
  .headerHero {
    font-size: 2.1875rem;
  }
}