@use "../../styles/abstracts/variables";

.navbar {
  font-family: variables.$font-primary;
  color: variables.$color-font;
}

.navbarContent {
  width: 100%;
}

.navbarHeader {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.navbarLogoLink {
  display: block;
  width: 6.5rem;
}

.navbarLogo {
  display: block;
  width: 100%;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbarMenu {
  display: grid;
  justify-items: center;

  gap: 0.75rem;
  padding: 2rem 0;

  font-size: clamp(24px, 1vw, 40px);
  text-align: center;
}

.navbarMenu a:hover,
.navbarMenu button:hover {
  color: variables.$color-font-gold;
}

@media (min-width: 1024px) {

  .navbarMenu {
    display: flex;
    justify-content: space-around;
  }
}

