@use "../../styles/abstracts/variables";

.navbar body {
    font-family: variables.$font-primary;
    color: variables.$color-font-gold;
}

.navbar {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-content: center;

    margin-top: 1rem;
    font-size: 1.25rem;
}

.navbar a {
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}

.navbar a:hover {
    color: variables.$color-secondary;
}