@use "../../styles/abstracts/variables";

.reservations {
  width: 100%;

  padding: 2rem 1rem;
}

.reservations section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 6rem;

  color: variables.$color-font;

  font-size: 1.5rem;
  text-align: center;
}

.reservations p {
  margin-top: 1.25rem;
}

.reservationButton {
  display: inline-block;

  margin-top: 4rem;
  padding: 0.8rem 1.2rem;

  border-radius: 12px;

  background-color: variables.$color-font-gold;
  color: black;

  font-family: variables.$font-secondary;
  font-size: 1.5rem;

  text-decoration: none;

  transition: box-shadow 0.2s ease;
}

.reservationButton:hover {
  box-shadow: 0 0 15px white;
}

/* Tablet */
@media (min-width: 768px) {
  .reservations {
    padding: 3rem 2rem;
  }

  .reservations section {
    margin-top: 8rem;
    font-size: 1.75rem;
  }

  .reservationButton {
    margin-top: 5rem;
    font-size: 1.75rem;
  }
}

/* Notebook */
@media (min-width: 1024px) {
  .reservations section {
    margin-top: 10rem;
    font-size: 2rem;
  }

  .reservationButton {
    font-size: 2rem;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .reservations section {
    font-size: 2.25rem;
  }

  .reservationButton {
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
  }
}