@use "../../styles/abstracts/variables";

.reservations {
  margin-top: 6rem;
  color: variables.$color-font;

  text-align: center;
  font-size: clamp(24px, 2vw, 40px);
}

.reservationButton {
  display: inline-block;

  margin: 2rem;
  padding: 1rem;

  border-radius: 12px;
  background-color: variables.$color-font-gold;

  color: black;
  font-family: variables.$font-secondary;
}

.reservationButton:hover {
  box-shadow: 0px 0px 12px white;
}