@use "../../styles/abstracts/variables";

.menu {
  width: 100%;
}

.menuContent {
  width: 80%;
  margin: 0 auto;

  color: variables.$color-font;
  font-family: variables.$font-primary;

  text-align: center;
}

.menuCategories {
  width: 90%;
  margin: 0 auto 5rem;

  scrollbar-width: thin;
  scrollbar-color: variables.$color-font-gold transparent;
}

.menuCategory {
  flex-shrink: 0;
  margin: 1rem auto;

  padding: 0.5rem 1rem;
  border-radius: 12px;

  background-color: variables.$color-secondary;
  color: variables.$color-font;

  font-family: variables.$font-secondary;
  font-size: clamp(1.25rem, 2vw, 2.5rem);

  &:hover {
    background-color: variables.$color-font-gold;
    color: black;
  }

  &--active {
    background-color: variables.$color-font-gold;
    color: black;
  }
}

.mealName {
  margin: 0.25rem auto;
  font-size: clamp(1.5rem, 2vw, 2.8125rem);
}

.mealDescription {
  margin: 0.25rem auto;
  font-family: variables.$font-secondary;

  font-size: clamp(1.25rem, 1vw, 2.1875rem);
}

.mealDivider {
  height: 1px;
  background-color: variables.$color-font-gold;
}

.menuPrompt {
  color: variables.$color-font-gold;
  font-size: clamp(1.25rem, 2vw, 2.5rem);
}