@use "../abstracts/variables";

body {
    font-family: variables.$font-primary;
    background-color: variables.$color-primary;
    
    color: variables.$color-font;
    overflow-x: hidden;

    text-decoration: none;
}

a {
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}